@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Outfit:wght@400;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;

  --color-sage-50: #f4f7f5;
  --color-sage-100: #e2ede6;
  --color-sage-600: #5b8c71;
  --color-terracotta-500: #e2725b;
}

@layer base {
  body {
    @apply bg-sage-50 text-slate-900 font-sans;
  }
}

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
  .preserve-3d {
    transform-style: preserve-3d;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
}
